<app-header-tab></app-header-tab>

<ion-content [fullscreen]="true">
    <ion-list *ngFor="let noticia of gestionNoticias.getNoticias()">
      <ion-card>
        <ion-item lines="none">
          <ion-checkbox LabelPlacement="start" (click)="gestionNoticias.guardarNoticias(noticia)">
            <ion-label color="primary"><strong>{{noticia.source.name}}</strong></ion-label>
          </ion-checkbox>
        </ion-item>
        <ion-item>
          <p>{{noticia.title}}</p>
        </ion-item>
      </ion-card>
    </ion-list>
</ion-content>
