<app-header-tab></app-header-tab>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let noticia of gestionNoticias.getNoticias()">
      <ion-item lines="none">
        <ion-label color="primary"><strong>{{noticia.source.name}}</strong></ion-label>
      </ion-item>
      <ion-item>
        <!--<ion-checkbox LabelPlacement="start">{{noticia.title}}</ion-checkbox>-->
        <ion-checkbox LabelPlacement="start" (click)="gestionNoticias.guardarNoticias(noticia)">{{noticia.title}}</ion-checkbox>
      </ion-item>
      <!--<ion-item href="{{noticia.urlToImage}}" target="_blank">
        <ion-img src="{{noticia.urlToImage}}"></ion-img>
      </ion-item>-->
  </ion-list>
</ion-content>
