<app-header-tab></app-header-tab>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let noticia of gestionNoticias.getNuevasNoticias()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{noticia.title}}</ion-card-title>
        <p>{{noticia.source.name}}, {{noticia.publishedAt}}</p>
        <img alt="" src="{{noticia.urlToImage}}"/>
        <ion-card-subtitle>
          <p>{{noticia.description}}</p>
          <p>{{noticia.author}}</p>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <a href="{{noticia.url}}">Leer</a>
          <!--<ion-icon slot="end" name="trash" (click)="gestionNoticias.borrarNoticias(noticia)"></ion-icon>-->
          <ion-icon slot="end" name="trash" (click)="borrarNoticia(noticia)"></ion-icon>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
